numpy==1.26.4
pandas==2.2.2
pillow>=11.0.0
torch>=2.0   # Kaggle may include 2.x; >=1.7 still fine
tqdm~=4.53
pytz>=2020.4
outdated>=0.2.0
ogb>=1.2.3
torch-scatter>=2.0.5
torch-geometric>=1.6.1
wilds>=2.0.0